set firewall all-ping enable
set firewall broadcast-ping disable
set firewall ipv6-name WANv6_IN default-action drop
set firewall ipv6-name WANv6_IN description 'WAN inbound traffic forwarded to LAN'
set firewall ipv6-name WANv6_IN enable-default-log
set firewall ipv6-name WANv6_IN rule 10 action accept
set firewall ipv6-name WANv6_IN rule 10 description 'Allow established/related sessions'
set firewall ipv6-name WANv6_IN rule 10 state established enable
set firewall ipv6-name WANv6_IN rule 10 state related enable
set firewall ipv6-name WANv6_IN rule 20 action drop
set firewall ipv6-name WANv6_IN rule 20 description 'Drop invalid state'
set firewall ipv6-name WANv6_IN rule 20 state invalid enable
set firewall ipv6-name WANv6_LOCAL default-action drop
set firewall ipv6-name WANv6_LOCAL description 'WAN inbound traffic to the router'
set firewall ipv6-name WANv6_LOCAL enable-default-log
set firewall ipv6-name WANv6_LOCAL rule 10 action accept
set firewall ipv6-name WANv6_LOCAL rule 10 description 'Allow established/related sessions'
set firewall ipv6-name WANv6_LOCAL rule 10 state established enable
set firewall ipv6-name WANv6_LOCAL rule 10 state related enable
set firewall ipv6-name WANv6_LOCAL rule 20 action drop
set firewall ipv6-name WANv6_LOCAL rule 20 description 'Drop invalid state'
set firewall ipv6-name WANv6_LOCAL rule 20 state invalid enable
set firewall ipv6-name WANv6_LOCAL rule 30 action accept
set firewall ipv6-name WANv6_LOCAL rule 30 description 'Allow IPv6 icmp'
set firewall ipv6-name WANv6_LOCAL rule 30 protocol ipv6-icmp
set firewall ipv6-name WANv6_LOCAL rule 40 action accept
set firewall ipv6-name WANv6_LOCAL rule 40 description 'allow dhcpv6'
set firewall ipv6-name WANv6_LOCAL rule 40 destination port 546
set firewall ipv6-name WANv6_LOCAL rule 40 protocol udp
set firewall ipv6-name WANv6_LOCAL rule 40 source port 547
set firewall ipv6-receive-redirects disable
set firewall ipv6-src-route disable
set firewall ip-src-route disable
set firewall log-martians enable
set firewall name WAN_IN default-action drop
set firewall name WAN_IN description 'WAN to internal'
set firewall name WAN_IN rule 10 action accept
set firewall name WAN_IN rule 10 description 'Allow established/related'
set firewall name WAN_IN rule 10 state established enable
set firewall name WAN_IN rule 10 state related enable
set firewall name WAN_IN rule 20 action drop
set firewall name WAN_IN rule 20 description 'Drop invalid state'
set firewall name WAN_IN rule 20 state invalid enable
set firewall name WAN_LOCAL default-action drop
set firewall name WAN_LOCAL description 'WAN to router'
set firewall name WAN_LOCAL rule 10 action accept
set firewall name WAN_LOCAL rule 10 description 'Allow established/related'
set firewall name WAN_LOCAL rule 10 state established enable
set firewall name WAN_LOCAL rule 10 state related enable
set firewall name WAN_LOCAL rule 20 action drop
set firewall name WAN_LOCAL rule 20 description 'Drop invalid state'
set firewall name WAN_LOCAL rule 20 state invalid enable
set firewall receive-redirects disable
set firewall send-redirects enable
set firewall source-validation disable
set firewall syn-cookies enable
{% for interface in eth_interfaces %}
set interfaces ethernet {{ interface.name }} address {{ interface.address }}
set interfaces ethernet {{ interface.name }} description '{{ interface.description }}'
set interfaces ethernet {{ interface.name }} duplex auto
set interfaces ethernet {{ interface.name }} speed auto
{% if interface.type == 'wan' %}
set interfaces ethernet {{ interface.name }} firewall in ipv6-name WANv6_IN
set interfaces ethernet {{ interface.name }} firewall in name WAN_IN
set interfaces ethernet {{ interface.name }} firewall local ipv6-name WANv6_LOCAL
set interfaces ethernet {{ interface.name }} firewall local name WAN_LOCAL
set service nat rule 5010 outbound-interface {{ interface.name }}
{% else %}
set service dns forwarding listen-on {{ interface.name }}
{% endif %}
{% endfor %}
set interfaces loopback lo
set service dhcp-server disabled false
set service dhcp-server hostfile-update disable
{% for interface in eth_interfaces %}
{% if interface.type == 'lan' and interface.dhcp_server != None %}
delete interfaces ethernet {{ interface.name }} address dhcp
set service dhcp-server shared-network-name {{ interface.dhcp_server.name }} authoritative enable
set service dhcp-server shared-network-name {{ interface.dhcp_server.name }} subnet {{ interface.dhcp_server.subnet }} default-router {{ interface.dhcp_server.router }}
set service dhcp-server shared-network-name {{ interface.dhcp_server.name }} subnet {{ interface.dhcp_server.subnet }} dns-server {{ interface.dhcp_server.router }}
set service dhcp-server shared-network-name {{ interface.dhcp_server.name }} subnet {{ interface.dhcp_server.subnet }} lease 86400
set service dhcp-server shared-network-name {{ interface.dhcp_server.name }} subnet {{ interface.dhcp_server.subnet }} start {{ interface.dhcp_server.start }} stop {{ interface.dhcp_server.stop }}
{% endif %}
{% endfor %}
set service dhcp-server static-arp disable
set service dhcp-server use-dnsmasq disable
set service dns forwarding cache-size 10000
set service gui http-port 80
set service gui https-port 443
set service gui older-ciphers enable
set service nat rule 5010 description 'masquerade for WAN'
set service nat rule 5010 type masquerade
set service ssh port 22
set service ssh protocol-version v2
set service unms
set system analytics-handler send-analytics-report false
set system crash-handler send-crash-report false
set system host-name EdgeRouter-4
{% for user in users %}
set system login user ubnt authentication encrypted-password '{{ user.pwd }}'
set system login user {{ user.name }} level {{ user.access }}
{% endfor %}
{% for i in range(4) %}
set system ntp server {{ i }}.ubnt.pool.ntp.org
{% endfor %}
set system syslog global facility all level notice
set system syslog global facility protocols level debug
set system time-zone UTC